.App {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

body {
  background-color: rgb(59, 88, 118);
}

.inputForm {
  width: 80vh;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.inputForm input {
  width: 15rem;
  height: 1.7rem;
  padding: 0.5rem;
  border: none;
}

.inputForm button {
  padding: 0.38rem 0.5rem;
}

.todoList {
  width: 100vw;
  margin: 2rem auto;
}

.todo {
  margin: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}


.icons .fa-check {
  padding: 0.487rem .5rem;
  font-size: 20px;
  color: rgb(39, 126, 17);
}

.icons .fa-trash {
  padding: 0.487rem .5rem;
  font-size: 20px;
  color: rgba(179, 44, 55, 0.95);
}

.fa-comment-plus {
  background-color: black
}

.todoText {
  height: 30px;
  width: 200px;
  padding: 0.3rem 4rem;
  background: white;
}


button {
  border: none;
  text-align: center;
  background-color: rgb(178, 186, 193);
}
